
    <servlet>
        <servlet-name>inputTest</servlet-name>
        <jsp-file>/inputTest.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>inputTest</servlet-name>
        <url-pattern>/inputTest</url-pattern>
    </servlet-mapping>

    
    <servlet>
        <servlet-name>Test</servlet-name>
        <servlet-class>inputTestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Result</servlet-name>
        <url-pattern>/Result</url-pattern>
    </servlet-mapping>

    
    <servlet>
        <servlet-name>Result</servlet-name>
        <jsp-file>/Result.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Result</servlet-name>
        <url-pattern>/Result</url-pattern>
    </servlet-mapping>